<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Qafoo Code Review Tool{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/bootstrap-responsive.css" rel="stylesheet">
    <link href="/styles/app.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="brand" href="/">Qafoo CRT</a>
                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
                                    {% block navItems %}{% endblock %}
                                    <li><a href="/source"><i class="icon-file icon-white"></i> Source</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="row">
            <div class="span12">
            {% block content %}
                <div class="alert">
                    <h1>Please extend from this template…</h1>
                </div>
            {% endblock %}
            </div>
        </div>
        <div class="row">
            {% block footer %}
            <div class="span12">
                <hr />
                &copy; <a href="http://qafoo.com/">Qafoo GmbH</a> 2012
            </div>
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="/scripts/vendor/jquery/jquery-1.7.2.js"></script>
    <!-- script type="text/javascript" src="/scripts/vendor/jquery/jquery-1.7.2.min.js"></script -->
    <script type="text/javascript" src="/scripts/vendor/jquery/jquery.history.js"></script>

    <script type="text/javascript" src="/scripts/vendor/bootstrap/bootstrap.js"></script>
    <!-- script type="text/javascript" src="/scripts/vendor/bootstrap/bootstrap.min.js"></script -->
</body>
</html>
