{% extends "overview.twig" %}

{% block content %}
<h1>Analyzer not available</h1>

<div class="alert alert-error">
    <p>The analyzer {{summary.title}} is not available. It had been disabled during source analyzing.</p>
</div>
{% endblock %}
