{% extends "index.twig" %}

{% block navItems %}
{% for entry in navigation %}
    <li><a href="/show/{{entry.module}}">{{entry.title}}</a></li>
{% endfor %}
{% endblock %}

{% block content %}
<div class="row">
{% for module in summaries %}
    <div class="span4">
        <div class="well">
            <h2>{{module.title}}</h2>
            <p>{{module.text}}</p>
        </div>
    </div>

    {% if loop.index is divisibleby( 3 ) %}
</div>
<div class="row">
    {% endif %}

{% endfor %}
</div>
{% endblock %}
