{% extends "overview.twig" %}

{% block content %}
<h1>PDepend</h1>

<form method="GET">
<h2>Classes</h2>
{% set cloud = class %}
{% set name = "class" %}
{% include 'pdepend_tagcloud.twig' %}

<h2>Methods</h2>
{% set cloud = method %}
{% set name = "method" %}
{% include 'pdepend_tagcloud.twig' %}
</form>

{% endblock %}
