[production]
hostname = localhost
username = root
password = 
database = qareview

[staging]
hostname = localhost
username = root
password =
database = qareview_dev

[development]
hostname = localhost
username = root
password =
database = qareview_dev

[testing]
hostname = localhost
username = root
password = 
database = qareview_testing
