html {
    overflow-y: scroll;
}

a, a:hover, a:active, a:focus {
    outline: none;
}

dl > dt {
    width: 10%;
    float: left;
    clear: left;

    text-align: right;
    padding: 0px 5px 0px 0px;
}

dl > dd {
    margin: 0px 0px 0px 11%;
}

.navbar .nav > li > a {
    text-shadow: 0 1px 0 #ffffff;
}

ul.tagcloud {
    list-style-type: none;
    margin: 1em auto;

    width: 80%;
    text-align: center;

    font-size: 32px;
}

ul.tagcloud li {
    display: inline;
    line-height: 1.1em;
}

.graph {
    display: block;
    margin: 1em auto;
}

ul.dirlisting {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ul.dirlisting li > ul {
    margin-left: 1.5em;
}

ul.dirlisting a {
    color: #666666;
}

ul.dirlisting li > ul.dirlisting {
    display: none;
}

ul.dirlisting li.selected > ul.dirlisting {
    display: block;
}

ul.dirlisting .selected > a {
    font-weight: bold;
    color: #333333;
}

a.annotate {
    vertical-align: super;
    font-size: 90%;
    color: #000;
}

#sourceCode ol li.diff-added {
   background-color: #dff0d8;
}

#sourceCode ol li.selected,
#sourceCode ol li:hover {
    background-color: #eee8d5;
}

.analyzer {
    color: #666666;
}

div.modal {
    display: none;
}

td.number {
    text-align: right;
}

td .progress {
    margin-bottom: 0px;
}

td.removed .progress .bar {
    margin: 0px 0px 0px auto;
}

.footer {
    font-size: .9em;
    margin-bottom: 1em;
}

