html {
    overflow-y: scroll;
}

a, a:hover, a:active, a:focus {
    outline: none;
}

.navbar .nav > li > a {
    text-shadow: 0 1px 0 #ffffff;
}

ul.tagcloud {
    list-style-type: none;
    margin: 1em auto;

    width: 80%;
    text-align: center;

    font-size: 32px;
}

ul.tagcloud li {
    display: inline;
    line-height: 1.1em;
}

ul.dirlisting {
    list-style-type: none;
    margin-left: 0px;
}

ul.dirlisting li > ul {
    margin-left: 18px;
}

ul.dirlisting a {
    color: #666666;
}

.folder-close > ul.dirlisting {
    display: none;
}

ul.dirlisting .folder-open > a,
ul.dirlisting .file-open > a {
    font-weight: bold;
    color: #333333;
}

a.annotate {
    vertical-align: super;
    font-size: 90%;
    color: #000;
}

ol.source {
    background-color: #fdf6e3;
    border-radius: 4px;
    border: 1px solid rgba( 0, 0, 0, .15 );
    margin-left: 3em;
}

ol.source li {
    min-height: 18px;
}

ol.source li.diff-added {
   background-color: #dff0d8;
}

ol.source li:hover {
    background-color: #eee8d5;
}

ol.source li a {
    display: block;
    color: #000000;
}

ol.source li a:hover {
    text-decoration: none;
}

ol.source li pre {
    display: inline;

    border: none;
    padding: 0px;
    margin: 1px 5px;

    background-color: transparent;
}

ol.source li a.icon {
    display: block;
    margin-right: 2px;
    float: right;
}

ol.source li a.comment {
    display: none;
}

ol.source li:hover a.comment {
    display: block;
}

.analyzer {
    color: #666666;
}

div.modal {
    display: none;
}

.source .code {
}

.source .comment {
    color: #666666;
}

.source .keyword {
    color: #C09853;
    font-weight: bold;
}

.source .html {
    color: #000000;
}

.source .string {
    color: #468847;
}

td.number {
    text-align: right;
}

td .progress {
    margin-bottom: 0px;
}

td.removed .progress .bar {
    margin: 0px 0px 0px auto;
}

.footer {
    font-size: .9em;
    margin-bottom: 1em;
}

