ul.tagcloud {
    list-style-type: none;
    margin: 1em auto;

    width: 80%;
    text-align: center;

    font-size: 32px;
}

ul.tagcloud li {
    display: inline;
    line-height: 1.1em;
}

ul.dirlisting a {
    color: #000000;
}

.folder-close > ul.dirlisting {
    display: none;
}

.folder-open > a,
.file-open > a {
    font-weight: bold;
}

